body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    padding: 20px;
    height: 77vh;
    width: 33vw;
    border: 2px solid black;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head{
    border: 2px solid blue;
    border-radius: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



button{
    color: white;
    background-color: blue;
    border-radius: 100px;
    height: 50px;
    width: 100px;
}