body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    width: 100vw;
}
.container{
    outline: 1px solid red;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: gray; */
    background-color: black;
    border-radius: 50px;
    overflow: hidden;
}

.container>div{
    /* outline: 1px dashed black; */
}

#box1{
    grid-column : 1/4;
    grid-row : 1/2;
    background-color: black;
}

#box6{
    grid-column : 1/4;
    grid-row : 3/4;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2, #box3{
    grid-row:2/3;
    grid-column: 2/3;
    background-color: black;
}

#box4, #box5{
    outline: 25px solid red;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#box{
    background-color: red;
    height: 40px;
    width: 250px;
    grid-column : 1/4;
    grid-row : 3/4;
    z-index: 2;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.eye{
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 30px;
}

.internal{
    height: 15px;
    width: 85%;
    background-color: black;
    border-radius: 0px 0px 80px 80px;
}