body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.nav{
    color: white;
    background-color: darkblue;
    height: 7vh;
    width: 97vw;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.links{
    
    height: 100%;
    width: 50%;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    color: white;
    background-color: blue;
    border-radius: 100px;
    height: 50px;
    width: 100px;
    margin: 10px;
}

a{
    color: white;
    margin: 5px;
}

img{
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
}

.logo{
    min-width: 75px;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 200px;
}