body{
    height: 100vh;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.box{
    height: 50px;
    width: 50px;
    outline: 8px ridge rgb(170 50 220 / 0.6);
    border-radius: 50%;
    float: right;
}