.box{
 position: sticky;
 top: 10px;
 left: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    overflow: scroll;
    height: 464px;
    width: 278px;
}

/* .box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Forces the image to behave like a background-size: cover */


#box1{
    /* position: relative; */
    background-color: cyan;
}

#box2{
    background-color: red;
}

#box3{
    background-color: blue;
}

#box4{
    background-color: green;
}

#box5{
    background-color: yellow;
}